@use "../../styles/variables" as *;

.container {
  min-height: 100dvh;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: conic-gradient(
    from -90deg,
    transparent 0deg,
    #d0f4e8 20deg,
    $green 270deg,
    transparent 270deg
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 10px),
    #000 calc(100% - 10px)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 10px),
    #000 calc(100% - 10px)
  );
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.subText {
  font-family: $font-content;
  font-size: 20px;
  color: $text-black;
  font-weight: 400;
  margin-top: 33px;
}

.mainText {
  font-family: $font-content;
  font-size: 20px;
  font-weight: 600;
  color: #00754e;
  text-align: center;
  line-height: 1.5;
  margin-top: 14px;
}
