/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 화면 전체 꽉 채우기 */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

button {
  font-family: inherit;
}
